##import(graphics)
##import(abind)  # commented out as it does not have a name space
##import(xts)
##importFrom(zoo,as.zoo)
import(methods)
##import(ggplot2)


exportClasses(
    CV, Holdout, LOOCV,
    MonteCarlo, Bootstrap, 

    EstimationResults,
    ComparisonResults,

    PredTask,

    EstimationTask,

    Workflow,
    WFoutput
    )

exportMethods(show)
exportMethods(summary)
exportMethods(plot)
exportMethods(subset)

export(
    ## constructors (classDefs.R file)
    CV, Holdout, LOOCV,
    MonteCarlo, Bootstrap, 

    EstimationResults,
    ComparisonResults,

    PredTask,
    
    EstimationTask,

    Workflow,
    
    WFoutput,

    ## experiments.R file
    performanceEstimation,

    cvEstimates,
    hldEstimates,
    loocvEstimates,
    bootEstimates,
    mcEstimates,

    is.regression, is.classification, responseValues,

    ## resultsAnalysis.R file
    topPerformers,
    topPerformer,
    rankWorkflows,
    metricsSummary,
    pairedComparisons,
    signifDiffs,
    CDdiagram.Nemenyi,
    CDdiagram.BD,

    ## resultsManipulation.R file
    mergeEstimationRes,
    taskNames, workflowNames, metricNames,
    getScores, getIterationInfo, getIterationPreds,
    estimationSummary,

    ## workflows.R file
    workflowVariants,
    getWorkflow,
    runWorkflow,
    workflowPredictions,
    'workflowInformation<-',
    workflowInformation,
    standardWF,
    timeseriesWF,
    standardPRE,
    standardPOST,
    knnImp,

    ## smote.R
    smote,
    
    ## evaluationMetrics.R file
    regressionMetrics,
    classificationMetrics
    )


