##import(graphics)
##import(abind)  # commented out as it does not have a name space
##import(xts)
##importFrom(zoo,as.zoo)
import(methods)
import(ggplot2)


exportClasses(
    CvSettings, HldSettings, LoocvSettings,
    McSettings, BootSettings, EstimationSettings,

    EstimationResults,
    ComparisonResults,

    PredTask,

    Workflow,
    WFoutput
    )

exportMethods(show)
exportMethods(summary)
exportMethods(plot)
exportMethods(subset)

export(
    ## experiments.R file
    CvSettings, HldSettings, LoocvSettings,
    McSettings, BootSettings,

    EstimationResults,    
    ComparisonResults,

    performanceEstimation,
    cvEstimates,
    hldEstimates,
    loocvEstimates,
    bootEstimates,
    mcEstimates,

    PredTask,
    is.regression, is.classification, responseValues,

    topPerformers,
    topPerformer,
    rankWorkflows,
    metricsSummary,
    pairedComparisons,
    signifDiffs,

    mergeEstimationRes,
    taskNames, workflowNames, metricNames,
    getIterationsResults,
    estimationSummary,

    Workflow,
    WFoutput,
    workflowVariants,
    getWorkflow,
    runWorkflow,
    'workflowPredictions<-',
    workflowPredictions,
    'workflowInformation<-',
    workflowInformation,
    standardWF,
    timeseriesWF,

    regressionMetrics,
    classificationMetrics,
    timeseriesMetrics
    )


